.cardlist .data {
	display: none;
}
.cardlistdisplay {
	padding: 1em;
	border: 0.3em double black;
}
.cardimage {
	width: 15.75em;
	background-image: url("../../img/loading_spinner.gif");
}
.columned {
	-moz-column-width: 14em;
	-webkit-column-width: 14em;
}
.cardlist-title {
	text-decoration: underline;
}
@media only screen and (max-device-width: 568px) {
	.cardimage {
		width: 8.965em;
	}
}
@media only screen and (max-width: 480px) and (orientation: landscape) {
	.cardimage {
		width: 9.855em;
	}
}
.category_container {
    overflow-x: scroll;
    overflow-y: visible;

    margin-left: 166px;
}
.headcol {
	position: absolute;
	width: 166px;
	left: 0px;
}
.chart_holder {
	float: left;
}
.chart_title {
	font-size: 20px;
	text-align: center;
}
.card_choice {
	cursor: pointer;
}
.chart {
	cursor: pointer;
}
.ranking-status-1 {
}
.ranking-status-2 {
	background-color: lightyellow;
}
.ranking-block {
	border: 0.3em double black;
}
